@model IEnumerable<CarRent.Models.CarsModel>

@{
    ViewData["Title"] = "CarSearch";
}

<h2>Car Search</h2>
<form asp-controller="CarsModels" asp-action="CarSearch2" method="get">
    <p>
        @*<select asp-items="@(new SelectList(Model.Distinct().ToList(), "Type", "Type"))">
                <option value="">All</option>
            </select>*@
        Brand: <input type="text" name="searchStringBrand">
        <select id="SearchString" name="SearchStringType" asp-items="@(new SelectList(Model.Distinct().ToList(), "Type", "Type"))">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>

</form>

@*<form asp-controller="CarsModels" asp-action="Index" method="get">
        <p>
            <select id="SearchString" name="SearchStringType" asp-items="@(new SelectList(Model.Distinct().ToList(), "Type", "Type"))">
                <option value="">All</option>
            </select>
            <input type="submit" value="Filter" />

        </p>
    </form>*@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combustion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combustion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdCar">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>